@{
    ViewData["Title"] = "Stream";
}

﻿
<head>
    <meta charset="UTF-8">
    <title>Stream</title>
</head>

<body>

    <div class="container">
        <div class="row g-0">
            <h1>Streaming as @ViewBag.UserName </h1>
            <div class="row g-0">
                <div class="col-md">
                    <div class="ratio ratio-4x3">
                        <video id="video" height="480" autoplay controls></video>
                    </div>
                </div>
                <div class="col-sm bg-secondary">
                    Chat here
                </div>
            </div>
            <div class="mt-2">
                <div class="btn-group" role="group">
                    <button type="button" id="startStreamBtn" onclick="startStreaming()" class="btn btn-success">Start Streaming</button>
                    <button type="button" id="stopStreamBtn" onclick="stopStreaming()" class="btn btn-danger">Stop Streaming</button>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/stream.js" asp-append-version="true"></script>
}