@{
    ViewData["Title"] = "Stream";
    var username = User.Identity?.Name;
}

<head>
    <meta charset="UTF-8">
    <title>Stream</title>
</head>

<body>
    <div class="container" id="stream-container" data-user="@ViewBag.Username">
        <div class="row g-0">
            <h1>Streaming as @ViewBag.UserName </h1>
            <span id="watcherCount"></span>
            <div class="row g-0">
                <div class="col-md">
                    <div class="ratio ratio-4x3">
                        <video id="video" height="480" autoplay controls></video>
                    </div>
                </div>
                <div class="col-sm bg-secondary">
                    <div class="row p-1">
                        <div class="col-2">Message</div>
                        <div class="col-4"><input type="text" class="w-100" id="messageInput" /></div>
                    </div>
                    <div class="row p-1">
                        <div class="col-6 text-end">
                            <input type="button" id="sendButton" value="Send Message" />
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-6">
                            <hr />
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-6">
                            <ul id="messagesList"></ul>
                        </div>
                    </div>
                    <input type="hidden" id="viewName" value="Stream Index">
                </div>
            </div>
            <div class="mt-2">
                <div class="btn-group" role="group">
                    <button type="button" id="startStreamBtn" onclick="startButton()" class="btn btn-success">Start Streaming</button>
                    <button type="button" id="stopStreamBtn" onclick="stopButton()" class="btn btn-danger">Stop Streaming</button>
                    <button type="button" id="switchCamBtn" onclick="switchCamera()" class="btn btn-info">Start/Stop Camera</button>
                </div>
                <div class="row">
                    <h2>Stream Timer</h2>
                    <span id="streamTimer">00:00:00</span>
                    <!-- Balance Display -->
                    <h2>Stream Balance</h2>
                    <div id="balanceDisplay">0.00000001 Satoshi</div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/stream.js" asp-append-version="true"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
}
