@{
  ViewData["Title"] = "Stream";
}


﻿<head>
    <meta charset="UTF-8">
    <title>Stream</title>
</head>

<body>
    
<div class="container">
    <div class="row">
        <video></video>
        <button id="startStreamBtn" class="btn btn-success">Start Streaming</button>
    </div>
    
    <button onclick="startStreaming()">Start Streaming</button>
    <button onclick="stopStreaming()">Stop Streaming</button>

    <a>ADD CHAT</a>
</div>

</body>

@section Scripts {
    <script src="~/js/stream.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
}