@{
    ViewData["Title"] = "Stream";
}

<head>
    <meta charset="UTF-8">
    <title>Stream</title>
</head>

<body>

    <div class="container">
        <div class="row g-0">
            <h1>Streaming as @ViewBag.UserName </h1>
            <div class="row g-0">
                <div class="col-md">
                    <div class="ratio ratio-4x3">
                        <video id="video" height="480" autoplay controls></video>
                    </div>
                </div>
                <div class="col-sm bg-secondary">
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <input type="hidden" id="viewName" value="Stream Index">
                </div>
            </div>
            <div class="mt-2">
                <div class="btn-group" role="group">
                    <button type="button" id="startStreamBtn" onclick="startStreaming()" class="btn btn-success">Start Streaming</button>
                    <button type="button" id="stopStreamBtn" onclick="stopStreaming()" class="btn btn-danger">Stop Streaming</button>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/stream.js" asp-append-version="true"></script>
}