@{
    ViewData["Title"] = "Stream Page";
}

<video id="gum-local" autoplay playsinline></video>
<button id="startStream">Start stream</button>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/stream.js"></script>