@{
    ViewData["Title"] = "Watch Stream";
}

<!DOCTYPE html>
<html>
<head>
    <title>Live Stream Viewer</title>
</head>
<body>
    <div class="container">
        <a href="/" class="btn btn-primary mb-3">Terug</a>
        <div class="row g-0">
            <div class="col-md">
                <div class="ratio ratio-4x3">
                    <video id="video" height="480" autoplay controls></video>
                </div>
            </div>
            <div class="col-sm bg-secondary">
                Chat here
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="/js/watch.js"></script>
}