@model RegisterViewModel

<h1>Register</h1>
<form asp-action="Register" asp-controller="User" method="post">
    <div>
        <label asp-for="Username">Username:</label>
        <input asp-for="Username">
    </div>
    <div>
        <label asp-for="EmailAddress">Email:</label>
        <input asp-for="EmailAddress">
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password">
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
    </div>
    <div>
        <input type="submit" value="Register">
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    
</form>