@{

}

<h1>Test</h1>
<form asp-action="TestPost" asp-controller="Certificate" method="post">
    <div>
        <label for="Subject">Subject:</label>
        <input type="text" name="subject">
    </div>
    <div>
        <label for="Body">Body:</label>
        <input type="text" name="body">
    </div>
    <div>
        <button type="submit">Submit</button>

    </div>
</form>