@{

}

<h1>Test</h1>
<form asp-action="TestPost" asp-controller="Home" id="submit" method="post">
    <div>
        <label for="Subject">Subject:</label>
        <input type="text" name="subject">
    </div>
    <div>
        <label for="Body">Body:</label>
        <input type="text" name="body">
    </div>
    <div>
        <button onclick="createDigSig(JSON.stringify({ subject: document.getElementsByName('subject')[0].value, body: document.getElementsByName('body')[0].value }), '@ViewData["PrivateKey"]')">Submit</button>
    </div>

    <input type="hidden" id="signature" name="signature">
</form>