<div class="container">
    <div class="row">
        <!-- <div id="streamSelectorBox" class="col"> </div> -->
            <button id="startStreamBtn" class="btn btn-success">Start Streaming</button>
        
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6 mb-4" id="videoBox">
            <video type="video/
" controls="controls" style="width: 100%; height: 100%;"></video>
            </div>
    </div>

    <img id="smallCircleImage" src="./assets/circle.png" alt="Circle">
</div>


@section Scripts {
<script src="~/js/startStream.js" asp-append-version="true"></script>
}